body {
    padding: 0 20px;
}

.darkmode {
    background-color: #0A0A0A;
    color: white;
}

#home {
    button {
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main {

        a,
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .link {
            text-decoration: none;
            color: black;
        }

        .show-products {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background: linear-gradient(to right, #16b468, #cec32d);
        }
    }
}