.darkmode {
    background-color: black;
    color: white;
}

#home {
    button {
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
            text-decoration: none;
            color: black;
        }
    }
}