.darkmode {
    background-color: #0A0A0A;
    color: white;
}

#home {
    button {
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main {

        a,
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .link {
            text-decoration: none;
            color: black;
        }

        .show-products {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}